*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.base{
    width: 100%;
    padding-bottom: 40px;
}
.main{
    width: 100%;
    height: 80px;
    padding-left: 30px;
    display: flex;
    padding-top: 25px;
    background-color: white;
    position: fixed;
}

.icnox {
 
    font-family: "Inconsolata", sans-serif;
    background: white;
    color: black;
    padding-left: 80px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.icnox1 {
    position: relative;
    display: inline-block;
}
.typ{
    
    font-size: 20px;
}
.icnox2 {
    font-family: "Inconsolata", sans-serif;
    display: none;
    position: absolute;
    background: black;
    color: black;
    min-width: 200px;
    z-index: 1;
}

.icnox12 {
    font-family: "Inconsolata", sans-serif;
    display: none;
    position: absolute;
    background: black;
    color: black;
    min-width: 700px;
    z-index: 1;
    text-align: center;
    left: -150px
}

.icnox12 a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.icnox12 a:hover {
    background-color: #f1f1f1;
    color: black
}

.icnox1:hover .icnox12 {
    display: block;
    
}

.oll{
    font-size: 16px;
}
.icnox1:hover .oll{
 transform: rotate(180deg);
}

.icnox2 a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.icnox2 a:hover {
    background-color: #f1f1f1;
    color: black
}
.yey{
    display: none;
}
.fa-right{
    color: white;
    font-size: 20px;
    padding-top: 20px;
}
.big{
    display: flex;
}
.big:hover .yey{
    display: block;
}
.icnox1:hover .icnox2 {
    display: block;
}
.icnox2:hover .oll {
    transform:rotate3d(180deg);
}

.sss {
    display: flex;
    justify-content: space-around
}
.ic1 {
    color: #f0a951;
    font-size: 20px;
    padding-left: 30px;
}
.glximg{
    width: 100%;
    height: 500px;
}
.text{
    width: 100%;
    text-align: center;
    margin-top: 30px;
     /* display: block;
    justify-content: center; */
     /* margin:  0 auto;  */
}
.tx {
    font-size: 42px;
    line-height: 1.2;
    font-weight: 700;
    padding-bottom: 10px;
    font-family: 'Popins', sans-serif;
    color: #3b3940;

}
.ppp{
    width: 70%;
    text-align: left;
    padding-left: 350px;
}
.img-text{
    width: 98%;
    margin-top: 50px;
        background-color: #f6f6f8
}
.consol1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  
}
.con{
  padding-left: 40px;
    width: 48%;
    height: 400px;
}
.lion{
    width: 48%;
}
.imgser{
    width: 660px;
    height: 402px;
}
.hop {
    font-family: Martel, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.75;
    color: #5f5f61;
}
.te{
    font-size: 50px;
    text-align: center;
    height: 55px;
}
.dear{
    color: #f0a951;
}

.btn_1 {
    width: 250px;
    height: 70px;
    border: none;
    color: orange;
    background-color: white;
    box-shadow: inset 0 0 0 0 orange;
    transition: ease-out 0.3s;
    font-size: 20px;
    outline: none;
    margin-top: 15px;
    border: orange;
    border-style: solid;
    border-width: 5px;
    border-radius: 40px;
    text-align: center;
}

.btn_1:hover {
    box-shadow: inset 300px 0 0 0 black;
    color: white;
    background: black;
    cursor: pointer;
    border: black
}
.two2{
    width: 100%;
    display: flex;
}
.text2{
    width: 50%;
   text-align: left;
 padding-left: 50px;

}
.img-two{
    width: 50%;
}
.end{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
   margin-top: 80px;
   
  
    
}
.endof{
    width: 33%;
    padding-left: 20px;
}
.trey{
    width: 100%;
}
.end1{
    width: 100%;
    display: flex;
    justify-content: end;
    padding-top: 10px;
}
.endimg{
    width: 100px;
    height: 100px;
}
.textt{
    width: 100%;
}
.org{
    color: #f0a951;
    font-size: 20px
}
.org:hover{
    color: #3b3940;
}
.galery{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
   
}
.gal{
    width: 120px;
    height: 120px;
    padding-left: 8px;
    padding-top: 8px;
   
}